{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<h1>Log-in</h1>
    {% if form.errors %}
    <p>Fail username and password try again</p>
    {% else %}
    <p>Use foolowing form to log in</p>
    {% endif %}
<p>Заполните данные ниже</p>
<div class="login-form">
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <p><input type="submit" value="Войти"></p>
    </form>
</div>
{% endblock %}